.currentWeather {
    width: 30%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-image: linear-gradient(60deg, #0EA5E9, #84d6fc);
}

.currentWeather span{
    display: flex;
    align-items: center;
    justify-content: space-between;
}